@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
  @apply bg-red-300}
  }
  @layer components{
    h1 {
      @apply text-purple-600 font-extrabold py-2 text-4xl 
    }
   

  }
  .board {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }


  
.square {
  width: 120px;
  height: 120px;
  font-size: 5rem ;
  color:rgb(113, 113, 220);
  border: solid 4px rgb(218, 72, 128);
  
}
  

